---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li
	class:list={[
		"border",
		"rounded-lg",
		"p-4",
		"bg-white",
		"hover:bg-gray-200",
		"cursor-pointer",
		"transition-colors",
		"duration-250",
	]}
>
	<a href={href}>
		<h2 class:list={["font-semibold"]}>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style></style>
